html,body{
 margin:0;
 padding:0;
}
.container {
 display: flex;
 align-items: center;
 //justify-content: ;
 height: 55vh;
 width: 900px;
}
#container{
 width: 300px;
 padding: 8px 10px 20px 8px;
 margin:20px auto;
 border-top: 2px solid #FFF;
 border-right: 2px solid #FFF;
 border-bottom: 2px solid #C1C1C1;
 border-left: 2px solid #C1C1C1;
 box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
}
#display {
 display: block;
 margin: 15px auto;
 height: 42px;
 width: 270px;
 padding: 0 10px;
 border-radius: 4px;
 border-top: 2px solid #C1C1C1;
 border-right: 2px solid #C1C1C1;
 border-bottom: 2px solid #FFF;
 border-left: 2px solid #FFF;
 background-color: #FFF;
 box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(150, 150, 150, .2);
 font-size: 28px;
 color: #666;
 text-align: right;
 font-weight: 400;
}
.button {
 width: 65px;
 height: 65px;
 font-size: 20px;
 font-weight: bold;
 border-radius: 20px;
}
.mathButtons {
display: inline-block;
width:300
 margin: 2px 2px 6px 2px;
 color: lightblue;
 text-shadow: -1px -1px 0px #44006F;
 background-color: #7f7771;
 border-top: 2px solid #FFF;
 border-right: 2px solid #FFF;
 border-bottom: 2px solid #C1C1C1;
 border-left: 2px solid #C1C1C1;
 box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2E2E2E;
}
.digits {
 color: white;
 text-shadow: 1px 1px 0px #FFF;
 background-color: grey;
 border-top: 2px solid #FFF;
 border-right: 2px solid #FFF;
 border-bottom: 2px solid #C1C1C1;
 border-left: 2px solid #C1C1C1;
 border-radius: 4px;
 
}
.digits:hover,
.mathButtons:hover,
#clearButton:hover {
 background-color: #DEFEC8;
 box-shadow: 0px 0px 2px #FFBA75, inset 0px -20px 1px #FF8000;
 border-top: 2px solid #FFF;
 border-right: 2px solid #FFF;
 border-bottom: 2px solid #AE5700;
 border-left: 2px solid #AE5700;
}
#clearButton {
 margin-left: 15px;
 margin-right: 8px;
 display: block;
 margin: 15px auto;
 height: 42px;
 width: 270px;
 padding: 0 10px;
 border-radius: 4px;
 border-top: 2px solid #C1C1C1;
 border-right: 2px solid #C1C1C1;
 border-bottom: 2px solid #FFF;
 border-left: 2px solid #FFF;
 background-color: grey;

 font-size: 28px;
 color: white;
 text-align: center;
 font-weight: 400;
}
